*,
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}

html {
	overflow-y: overlay;
}

a,
li {
	color: unset;
	text-decoration: none;
}

ul {
	list-style: none;
}

.App {
	position: relative;
	min-height: 100vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px white inset !important;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-track:hover {
	background: rgb(204, 204, 204);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #d5d5d5;
	opacity: 0.1;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(175, 175, 175);
	opacity: 1;
}
