*,
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

a,
li {
	color: unset;
	text-decoration: none;
}

ul {
	list-style: none;
}

.App {
	position: relative;
	min-height: 100vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px white inset !important;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
