//#region Chicken
.chicken {
	position: relative;
	width: calc(320px / 8);
	height: 48px;
	animation: chick 600ms steps(8) infinite, move 2s linear infinite;
	background-image: url('~_assets/images/chicken.png');
	transition: 300ms;
	margin: auto;
}

@keyframes chick {
	0% {
		background-position: 0px;
	}
	100% {
		background-position: -320px;
	}
}

@keyframes move {
	0% {
		top: 0;
	}
	25% {
		top: 50px;
	}
	50% {
		top: 100px;
	}
	75% {
		top: 50px;
	}
	100% {
		top: 00px;
	}
}
//#endregion

//#region Rhino
.rhino {
	position: relative;
	width: calc(312px / 6);
	height: 34px;
	animation: run 600ms steps(6) infinite, around 5s linear infinite,
		turn 5s steps(2, jump-none) infinite;
	background-image: url('~_assets/images/rhino.png');
	margin-top: 110px;
	transform: scaleX(-1);
	transition: 300ms;
}

@keyframes run {
	0% {
		background-position: 0px;
	}
	100% {
		background-position: -312px;
	}
}

@keyframes around {
	0% {
		left: 0%;
	}
	25% {
		left: 40%;
	}
	49% {
		left: 80%;
	}
	51% {
		left: 79%;
	}
	75% {
		left: 40%;
	}
	100% {
		left: 0%;
	}
}

@keyframes turn {
	0% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

//#endregion

//#region Bat
.bat {
	position: relative;
	width: calc(322px / 7);
	height: 30px;
	animation: run-bat 200ms steps(7) infinite, move-bat 6s linear infinite,
		turn 6s steps(2, jump-none) infinite;
	background-image: url('~_assets/images/bat.png');
	margin-top: 20px;
	transform: scaleX(-1);
	transition: 300ms;
}

@keyframes run-bat {
	0% {
		background-position: 0px;
	}
	100% {
		background-position: -322px;
	}
}

@keyframes move-bat {
	0% {
		left: 0%;
		margin-top: 20px;
	}
	10% {
		left: 20%;
		margin-top: 80px;
	}
	20% {
		left: 40%;
		margin-top: 20px;
	}
	30% {
		left: 60%;
		margin-top: 80px;
	}
	49% {
		left: 80%;
		margin-top: 20px;
	}
	51% {
		left: 79%;
		margin-top: 20px;
	}
	70% {
		left: 60%;
		margin-top: 80px;
	}
	80% {
		left: 40%;
		margin-top: 20px;
	}
	90% {
		left: 20%;
		margin-top: 80px;
	}
	100% {
		left: 0%;
		margin-top: 20px;
	}
}
//#endregion
