.MuiGrid-root.grid-fake-table {
	> .MuiGrid-item {
		&:not(.MuiGrid-grid-xs-12) {
		}
		padding: 10px;
		// border: 1px solid black;
	}
}

.MuiGrid-item.grid-fake-header {
	background-color: #e5f2f7;
	font-weight: 600;
	padding-top: 8px;
	padding-bottom: 8px;
}
