.MuiBox-root.login-background {
	height: 100vh;
	// background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.MuiPaper-root.paper-form {
	min-width: 300px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 20px 4px rgb(26 255 56 / 20%);

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.3px);
	-webkit-backdrop-filter: blur(2.3px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
